.modal-dialog {
  max-width: 600px !important;
  margin-right: auto;
  margin-left: auto;
  border-radius:0.3rem;;
}
.modal-header{
  border-bottom: none !important;
  
}
.content{
  padding: 0 2rem 2rem 2rem !important;
}
.cancel{
  background-color: white !important;
  color: #389ca7 !important;
}
.btns{
  margin-top: 24px;
  border-bottom: 1 solid #fafafa;
}
.bt{
    cursor: pointer;
    border-radius: 5px;
    padding: 11.5px 21px;
    font-weight: 500;
    text-align: center;
}
.info{
  margin: 20px 0px;
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
}
.info svg{
  margin-right: 5px;
  font-size: 20px;
  margin-top: -5px;
}
.modal-footer{
  justify-content: flex-start !important;
  padding: 0 2rem 0rem 2rem !important;
}
