@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap'); 
.top-bar {
    top:0;
    position: fixed;
    width: 80vw;
    height: 60px;
    background-color: #fff;
    z-index: 101;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 0px -1px #0000003d;
}

.topbar-logout {
    margin-right: 30px;
}

.top-bar.mobile {
    top: 0;
    align-items: center;
}
.virtual-pop-menu {
    position: absolute;
    height: 60px;
    margin-right: 15px !important;
    right: 0;
    width: 180px;
    overflow: hidden;
}

.virtual-pop-button {
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 500;
    width: 180px !important;
    height: 60px !important;
    border-radius:unset;
    background-color: #fff;
    color: black;
    
}