@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
.Tabs {
    font-family: 'Cabin', sans-serif;
    color: rgb(0, 0, 0);
    height: 100vh;
    box-sizing: border-box;
    border: none !important;
    margin: 20px 30px;
    
  }
  
  .react-tabs {
    display: flex;
    width: 100%;
    color: black;
  }
  
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
    padding-inline-start: 0px !important;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;

  }
  
  .react-tabs__tab {
    list-style: none;
    cursor: auto;
    color: #474343;
    display: block;
    padding: 10px 16px;
    font-size: 15px;
    line-height: 20px;
    box-sizing: border-box;
    font-weight: 500;

    
  }

  .react-tabs__tab--selected {
    background-color:#485b5d;
    color: white;
  }
  
  .react-tabs__tab-panel {
    display: none;
    height: fit-content;
    width: 100%;
    border-radius: 5px;
    background-color:white;
    color: #646262;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  

  /*Tab Memu Finish*/

 /*AccountInfoTabCard Start*/
 .account-card{
    margin: 20px;
    padding: 20px;
 }
 .account-form{
    margin: 20px 0px;
    background-color:#f1f4e9;
    padding: 20px 50px 20px 25px;
    border-radius: 5px;
   
 }
 .form-element{
    width: 66%;

 }
 .account-form input{
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px 16px;
    line-height: 24px;
    font-size: 15px;
    width: 100%;
    border: 1px solid #f4f4f4;
    background-color:white;
 }
.company-name{
    font-size: 25px;
    font-weight:normal;
    color: #444a4a;
}
.account-form label{
    font-size: 14px;
}
.form-element div{
    margin: 15px 0px;
}
/*AccountInfoTabCard Finish*/
/*ProfileInfoTabCard Start*/
.profile-card{
    margin: 20px;
    padding: 20px;
 }
 .pass-change{
    background-color: #f1f4e9;
    margin: 20px 0px;
    padding: 20px 50px 20px 25px;
    border-radius: 5px;
    line-height: 24px;
    font-size: 15px;
 }
 .change{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: -20px 0px;
 }
 
 .change button{
    width: fit-content;
 }
 /*ProfileInfoTabCard Finish*/
/*CompanyInfoTabCard Start*/
.company-card{
   margin: 20px;
   padding: 20px;
   font-size: 16px;
}
.company-info{
   background-color: #f1f4e9;
   margin: 20px 0px;
   padding: 20px 50px 20px 25px;
   border-radius: 5px;
   line-height: 24px;
   font-size: 15px;

}
.company-info div{
   margin-bottom: 10px;
}
.company-card p{
   line-height: 140%;
   color: rgb(80, 80, 80);
   margin: 10px 0px 30px;
   font-size: 16px;

}
.add-detail{
   display: flex;
   flex-direction: column;
}
.add-detail button {
   width: 33.3333%;
   margin-top: 30px;
}
 /*CompanyInfoTabCard Finish*/
/*BankAccountsTabCard Start*/
.accounts-bank{
   margin: 20px;
   padding: 20px;
   font-size: 16px; 
   line-height: 140%;
   color: rgb(80, 80, 80);

}
.accounts-bank h4, h5, h6{
   margin-bottom: 20px;
}
.accounts-bank h6{
   font-weight: 400;
}
.bank{
   background-color: #f1f4e9;
   margin: 20px 0px;
   padding: 20px 50px 20px 25px;
}
.accounts-bank button {
   width: 33.3333%;
}
 /*BankAccountsTabCard Finish*/
.eddahk{
   margin: 20px;
   padding: 20px;
   font-size: 16px; 
   line-height: 140%;
   color: rgb(80, 80, 80);
}
.fa2{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.fa2 button{
   width: 200px !important;
}
.file-check{
   display:block !important;
}
 .upload{
   margin: 20px 0px;
   background-color:#f1f4e9;
   padding: 20px 50px 20px 25px;
   border-radius: 5px;
  
}
.cancel{
   background-color: white !important;
   color: #389ca7 !important;
}