:root {
  --primary: #43a7eb;
  --secondary: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/arial-2');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  margin: 0;
  font-family: 'Cabin', sans-serif;

}
body.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
  height: 100vh;
}

button {
  width: 250px;
  background-color: var(--secondary);
  border: solid 5px var(--primary);
  padding: 6px;
  color: var(--primary);
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.container {
  width: 50%;
  height: min-content;
  margin: auto;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px -13px;
  border-radius: 20px;
  background-color: #fff;
}

.container .title {
  font-size: 36px;
}

.container .submit {
  margin: 25px auto;
}

.input-field {
  text-align: left;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.input-field h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  color: #656565;
  font-weight: 100;
}

.input-field input {
  padding: 5px;
  border: none;
  border-bottom: solid 1px #bbb;
  outline: none;
  flex: 1;
}

.input-field input::placeholder {
  color: #999;
  font-family: "PatrickHand";
}

.input-field .input-container{
  display: flex;
  flex-flow: row-reverse;
}

.input-field .input-container i {
  margin: auto 8px;
}

.link-area {
  display: flex;
  justify-content: space-between;
}

#error-field {
  color: #721c24;
  background-color: #f8d7da;
  border: solid 1px #f5c6cb;
  border-radius: 5px;
  padding: 10px;
}

div.bottom-details {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

div.bottom-details > div {
  flex: 1;
}

div.bottom-details > div .detail-item {
  display: flex;
  flex-direction: row;
}

div.bottom-details > div .detail-item * {
  flex: 1;
}

.pages.mobile {
  width: 100vw !important;
  left: 0 !important;
}